.card-text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sobre{
    font-family: Arial, Helvetica, sans-serif;
}